@charset "utf-8";
html{margin:0px;padding:0px;top:0px;left:0px;width:100%;height:100%;}
body,ul,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,form,input,table,tr,td,select,textarea,div{margin:0; padding:0;}
img{border:none;}
ul{list-style:none;}
a{text-decoration:none;}
input{vertical-align:middle;}
ul li{list-style:none;}
img{display: block;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:after{content:".";clear:both; height:0; overflow:hidden;visibility:hidden;display:block;}
.clearfix{zoom:1} 
body {
    font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
    font-size: 20px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}
input{
	outline: none;
}
.container {min-width:320px; min-height:100%; position:relative; margin:auto; outline:none; font-size:100%; overflow:hidden;background: #ffffff none repeat scroll 0 0;}
.cs-box {display:-moz-box;display:-webkit-box;display:box;}
.cs-box-flex1 {-moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.cs-box-flex2 {-moz-box-flex:2; -webkit-box-flex:2; box-flex:2;}
.cs-box-flex2 {-moz-box-flex:3; -webkit-box-flex:3; box-flex:3;}
.cs-box-flex{display:-moz-flex;display:-webkit-flex;display:flex;}
.cs-width100{width: 100%;}
.red{color: red;}
.right{text-align: right;}
.cs-color1{color: #3598db;}

/**index**/
.cs-ix-body{background: #fff;}
.cs-ix-page{}
.cs-cover-span{background: #000000;filter:alpha(opacity=60); -moz-opacity:0.6;-khtml-opacity: 0.6; opacity: 0.6;z-index:3;height: 100%;width: 100%;position: absolute;margin: 0px;padding: 0px;border: 0px;top:0px;}
.cs-ix-nodata{}
.cs-nodata-footer{color: #F14B4B;text-align: center;border-top: 1px solid #d6d6d6;padding:15px 20px;font-size: 1rem;}
.cs-ix-nd-tl{text-align: center;padding: 30px 0px;font-size: 1rem;color:#666666;}
.cs-ix-nd-main{z-index: 100;width:100%;top:80px;position: absolute;}
.cs-ix-nd-ct{padding: 0px 40px;}
.cs-nd-content{background: #fff;border-radius:0.2em;-moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;}
.cs-ix-nd-main-tl{text-align: center;padding: 10px 0px;font-size: 1rem;color: #333333;margin-bottom: 10px;font-weight: bolder;}
.cs-ix-nd-content{padding:0px 10px 10px;}
.cs-ix-nd-content ul {margin-bottom: 0px;margin-top: 0px;color: #555555;}
.cs-ix-nd-content ul li {margin-bottom: 10px;font-size:0.875rem;}
.cs-ix-list-data{}
.cs-ix-footer{height: 3.5rem;text-align: center;position: fixed;width: 100%;bottom: 0;border-top:1px solid #d6d6d6;background: #fff;}
.cs-ix-footer2{height: 3.5rem;text-align: center;position: fixed;width: 100%;bottom: 50px;}
.cs-ix-imgbox{display:-moz-flex;display:-webkit-flex;display:-o-flex;display:flex;justify-content:center;align-items:center;margin-right:20px;}
.cs-add-span{height: 3.5rem;line-height: 3.5rem;font-size:1.2rem;color: #000000;}
.cs-add-main{justify-content:center;box-sizing:border-box;}
.cs-add-main img {height: 1.2rem;width: auto; display: inline-block;vertical-align: middle;margin-top: -4px;margin-right: 10px;}

.cs-gd-details{}
.cs-list-li{background: #fff;border-bottom: 1px solid #d6d6d6;}
.cs-list-item{padding: 15px 10px;}
.cs-three-sp{justify-content:center;}
.cs-state{background:#3598db;color: #fff;border-radius:0.3em;font-size: 1rem;width:5.3rem;height:2rem;text-align: center;line-height:2rem;}
.cs-good-logo{width:5.5rem;height: 8rem;margin-right: 0.8rem;border-radius:0.5em; }
.cs-good-logo img {width:5.5rem;height: 8rem;}
.cs-gd-dt-item{height: 2rem;line-height: 2rem;font-size: 0.9rem;color: #777777;}
.user-name{font-size: 1rem;color:#333333;height: 2rem;line-height: 2rem;}
.card-creattime{font-size: 0.8rem;color:#666666;text-align: right;}
.card-no{}


/**detail_edit**/
.cs-dt-body{background: #fff;max-width: 640px;margin:0px auto;}
.cs-dt-page{padding-top: 20px;}
.cs-carrot-right{background: url('https://whtpay.whbaw.cn/paytest/alipayStuTest/images/arrow_carrot-right.png');background-repeat: no-repeat;height: 24px;width: 14px;display: block;margin-top: 8px;margin-left: 10px;background-size:14px 24px;-moz-background-size:14px 24px;-webkit-background-size:14px 24px;-o-background-size:14px 24px;}
.cs-stu-icon{background: url('../images/stu_icon.png');background-repeat: no-repeat;height: 100px;width: 100px;margin:0px auto 20px;position: relative;background-size:100px 100px;-moz-background-size:100px 100px;-webkit-background-size:100px 100px;-o-background-size:100px 100px;}
.cs-photo-icon{background: url('../images/photo_icon.png');background-repeat: no-repeat;height: 20px;width: 20px;position:absolute;left: 75px;top:75px;background-size:100px 100px;-moz-background-size:20px 20px;-webkit-background-size:20px 20px;-o-background-size:20px 20px;}
.pre-img{position: relative;}
.css-addimg-img{min-height: 100px;min-width: 100px;max-width: 100%;}

.cs-dt-title{text-align: center;font-size:1.2em;color: rgb(51,51,51);}
.cs-stu-item{font-size:1rem;height:2.3rem;line-height:2.3rem;border-bottom: 1px solid #d6d6d6;box-sizing:border-box;}
.cs-stu-item .cs-box-flex1 {box-sizing:border-box;font-size: 0px;}
.cs-stu-item .cs-item-ne{width: 6rem;}
.cs-gender-box, .cs-needrece-box{font-size: 1rem;color: rgb(85,85,85);}
.choosebox{background: url('../images/choose.png');background-repeat: no-repeat;height:1.22rem;width: 1.22rem;margin-top: 0.5rem;margin-right: 1rem;margin-left: 1rem;height:1.21rem;width: 1.21rem;background-size:1.21rem 1.21rem;-moz-background-size:1.21rem 1.21rem;-webkit-background-size:1.21rem 1.21rem;-o-background-size:1.21rem 1.21rem;}
.choosebox-select{background: url('../images/choose-select.png');background-repeat: no-repeat;height:1.22rem;width: 1.22rem;background-size:1.21rem 1.21rem;-moz-background-size:1.21rem 1.21rem;-webkit-background-size:1.21rem 1.21rem;-o-background-size:1.21rem 1.21rem;}
.cs-stu-item input{border: 0px;font-size: 0.9rem;text-indent:0.2rem;height:2.2rem;line-height:2.2rem;padding: 0px;vertical-align:top;color:#333;}
.cs-stu-item input::-webkit-input-placeholder {color: #666 !important;}
.cs-stu-item input:-moz-placeholder {color: #666 !important;}
.cs-stu-item input::-moz-placeholder {color: #666 !important;}
.cs-stu-item input:-ms-input-placeholder {color: #666 !important;}
.cs-stu-item label{font-size: 1em;}
.user_name{text-align: center;}
.cs-remark{color: rgb(193,193,193);}
#schooltype_dummy, #remark_five_dummy{width: 100%;font-size: 0.9rem;}
#stuclass0_dummy, #stuclass1_dummy, #stuclass2_dummy{width: 100%;border-bottom: 0px;font-size: 0.8em;}
.mbsc-control-ev {background: url('https://whtpay.whbaw.cn/paytest/alipayStuTest/images/arrow_carrot-right.png');background-repeat: no-repeat;background-size:0.5rem 1rem;-moz-background-size:0.5rem 1rem;-webkit-background-size:0.5rem 1rem;-o-background-size:0.5rem 1rem;background-position:99% center; }
.cs-btn-laster{border: 1px solid rgb(241,76,76);border-radius:1em;height:36px;width:100px;margin:20px auto 0px;color:rgb(241,76,76);line-height:36px;text-align: center;font-size: 0.9em;}

.mbsc-fr-btn-w{width: 49%;text-align: center;}
.mbsc-fr-btn-cont{border-top:4px solid #A5A5A5;padding-top: 0.5em !important; }
.mbsc-mobiscroll .mbsc-fr-btn{color: #323232;}
.mbsc-fr-btn-s{border-left: 1px solid #d6d6d6;}
.mbsc-mobiscroll .mbsc-sc-whl-l{border-bottom:1px solid #D1D1D1;border-top:1px solid #D1D1D1;}
.mbsc-mobiscroll .mbsc-fr-w{color: #888888;}
.mbsc-mobiscroll .mbsc-sc-itm-sel{color: #323232;}

.view-step1-page .cs-stu-item{font-size: 1rem;}
.view-step1-page .cs-dt-main{font-size: 1rem;}
.view-step1-page .cs-five-li{font-size: 0.8rem;}


/***/
.step3-body{background: #F2F2F2;}
.step1-page{width: 100%;}
.info-edit-top{padding: 10px 20px 0px;}
.stepimg{width: 100%;}

.cs-info-remark img{width: 100%;}
.cs-five-li{font-size:0.6em;text-align: right;color: rgb(193,193,193); }
.cs-idPicli{margin-top: 20px;}
.cs-item-name{}
.cs-item-name-lb{height: 36px;line-height: 36px;}

.cs-stu-card-info{font-size: 0.9em;color: #8B8B8B;padding: 0px 0px 0px 5px;}
.cs-page-remark{font-size: 0.8em;color: #8B8B8B;}
.float-left{float: left;}




.usr-info-block{background: #EEEEEE;padding: 0px 10px;margin-top: 10px;}
.cs-info-it{height: 1.8rem;line-height: 1.8rem;}

.cs-ft-div{height: 2.8rem;line-height: 2.8rem;position: fixed;bottom: 0px;background: #fff;font-size: 1rem;box-sizing:border-box;}
.footer-text{text-align: right;padding-right: 10px;}
.btn-sure-pay{height: 2.8rem;line-height: 2.8rem;text-align: center;background: #3598db;color: #fff;padding: 0px 20px;}
.cs-tr-item{height: 2rem;line-height: 2rem;}
.cs-send-type{border-bottom:1px solid #d6d6d6; }

#viewSteptl{text-align: center;width: 100%;}

.back-reason-st{display: none;padding: 20px 10px 0px;}
.back-reason-detail{text-indent:1.6rem;font-size: 1rem;color:#ff691f;font-family: Microsoft YaHei;font-weight: bold;}
.back-reason-tl{font-size: 1.2rem;color:red;border-top: 1px solid #D6D6D6;}

/**pay_success**/
.cs-pysuc-icon{padding: 80px 0px 0px;}
.cs-pysuc-icon img{margin: 0px auto 40px;}
.cs-note{text-align: center;color: #555555;font-size: 22px;}

/**new**/
.cs-stu-item-tr{font-size: 1rem;height: 2.3rem;line-height: 2.3rem;}
.cs-stu-item-tr1{font-size: 1rem;padding:1rem 0px 0.3rem;}
.cs-stu-item-tr input {height: 2rem;line-height: 2rem;font-size: 0.9rem;border-radius:0.3rem;text-align: left;text-indent:0.8rem;outline:none;border: 1px solid #d6d6d6;}
.req{color:#3598db;}
.note{color:#3598db;font-size: 0.7rem;}
.cs-info-remark{font-size: 0.7rem;padding: 1rem 0px 0px;}
.cs-info-remark p {color:#666;}
.cs-info-remark strong{color:#333;}
.cs-paragraph{text-indent:1.4rem;}
.cs-dt-footer{padding: 0 10px;margin-top: 2rem;}
.cs-btn-next{border-radius:0.3em;width:100%;color:#fff;text-align: center;font-size: 1.1rem;background: #3598db;height: 2.5rem;line-height: 2.5rem;}
.cs-picdiv{position: relative;}
.css-addimg-bt{height: 200px;width:100%;color: #919191;border: 1px dashed #919191;border-radius:0.1em; font-size: 0.8rem;line-height: 280px;text-align: center;padding:0px;margin: 0px;}

.css-addimg-bt::before, .css-addimg-bt::after{background-color: #d9d9d9;content: " ";left: 50%;position: absolute;top: 50%;transform: translate(-50%, -50%);}
.css-addimg-bt::before{height: 39.5px; width: 3px;}
.css-addimg-bt::after{height: 3px; width: 39.5px;}
.cs-item-remark{font-size: 0.7rem;padding-left:1rem;}
.cs-item-remark ul {margin-top:10px;}
.cs-item-remark ul li{margin-bottom: 1rem;color: #3598db;list-style: disc;}
.cs-user-picture{width:5.5rem;height: 8rem;border-radius:0.1em;display:flex;justify-content:center;align-items:center;margin-left: 10px;margin-top: 10px;}
.cs-user-picture img{width:5.5rem;height: 8rem;}

#imgidPic1{width:5.5rem;height: 8rem;}

.cs-item-remark-tl{color: #3598db;margin-top: 10px;}

.cs-dt-main{font-size: 1rem;padding: 10px 10px 0px;background: #fff;}
.cs-getfun-st{margin-top: 10px;background: #fff;padding: 0 10px;font-size: 1rem;}
.cs-ziqutou{height: 2.4rem;line-height: 2.4rem;font-size: 1rem;}
.cs-ziquneirong{color:#666;font-size: 0.9rem; padding: 1.2rem 0px 0.6rem;}

.cs-ziquxuan{display:-moz-flex;display:-webkit-flex;display:-o-flex;display:flex;justify-content:center;align-items:center;width: 2.4rem;}
.ziqu-choosebox{background: url('../images/choose-select.png');background-repeat: no-repeat;height:1.22rem;width: 1.22rem;background-size:1.21rem 1.21rem;-moz-background-size:1.21rem 1.21rem;-webkit-background-size:1.21rem 1.21rem;-o-background-size:1.21rem 1.21rem;}
.cs-zique{padding-bottom: 0rem;}
.hide{display: none;}
.cs-re2{color:#3598db;font-size: 0.875rem;padding: 10px 0px;border-bottom: 1px solid #d6d6d6;}

.cs-notice{margin-top: 10px;background: #fff;padding: 10px 10px;font-size: 0.9rem;}
.cs-xsk-bg{}
.cs-xsk-bg:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:url('../images/bg-xsk.jpg') center 0 no-repeat;
  background-size: cover;
}
.cs-xsk-bg2{display:flex;justify-content:center;align-items:center;position:absolute;width:100%;height:100%;background:url(../images/bg-xsk2.jpg) no-repeat center 100% fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.down-allow{margin-left:-0.873rem;bottom:3.5rem;position: absolute;height: 4rem;z-index:2;left:50%;}

.cs-xsk-step{width: 100%;}
.cs-xsk-step img{height: 100%; width: auto;}

.css-sf-rek{text-align: right;position: absolute;bottom: 10px;font-size: 1rem;color:red;margin-left:10px;}


.agency{
	font-size: 1rem;
}
.agency .spanTitle{
	text-align: center;
	display: block;
}
.agency ul {
	margin-top: 0.5rem;
	box-sizing: border-box;
	padding-left: 0.2rem;
}
.agency ul li{
	height: 2.3rem;
}
.agency ul li span{
	float: left;
	width: 5.4rem;
	height: 100%;
	line-height: 2.3rem;
}
.agency ul li input{
	float: left;
	border: 0 none;
	margin-left: 1.2rem;
	box-sizing: border-box;
	height: 2.3rem;
	line-height: 2.3rem;
	outline: none;
}

#schooltype_dummy{
	/*border: 0 none;*/
}

.netUl{
	margin-top: 0.8rem;
	font-size: 1rem;
	color: black;
}
.netUl li{
	min-height: 1.6rem;
	overflow: hidden;
}
.netUl li p{
	float: left;
	height: 1.6rem;
	line-height: 1.6rem;
}
.netUl li span{
	max-width: 18rem;
	float: left;
	min-height: 1.6rem;
	line-height: 1.6rem;
	margin-left: 0.4rem;
}

.appleInfo{
	
}
.appleInfo li{
	height: 2.3rem;
	font-size: 1rem;
}
.appleInfo li p{
	float: left;
	width: 7rem;
}

.appleInfo li span{
	float: left;
}





