<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-specialCardInfo-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">优惠卡名称：</label>
				<div class="col-sm-8">
					<input id="cardTypeName" name="cardTypeName" class="form-control" type="text">
				</div>
			</div>
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡费用：</label>
				<div class="col-sm-8">
					<input id="cardFee" name="cardFee" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">快递费用：</label>
				<div class="col-sm-8">
					<input id="mailFee" name="mailFee" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡类型：</label>
		<!-- 		<div class="col-sm-8">
					<input id="cardType" name="cardType" class="form-control" type="text">
				</div> -->
				<div class="col-sm-8">
                                <select name="cardType" class="form-control m-b" th:with="type=${@dict.getType('special_card_info')}">
				                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
				                </select>
                  </div>
			</div>
		<!-- 	<div class="form-group">	
				<label class="col-sm-3 control-label">版面：</label>
				<div class="col-sm-8">
					<input id="layoutId" name="layoutId" class="form-control" type="text">
				</div>
			</div> -->
			
			
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "model/specialCardInfo"
		$("#form-specialCardInfo-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-specialCardInfo-add').serialize());
	        }
	    }
	</script>
</body>
</html>
